.navBar{

    margin: auto;

    display: flex;
    justify-content: space-around;
}

.filter-options {
    cursor: pointer;
    height: 4rem;
    width: 10rem;
    background: lightsteelblue;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: lightcyan;
        box-shadow: #ffffff 3px 3px 5px;
    }
}