.beer-card {
    width: 90%;
    height: 20rem;
    border-radius: 10px;
    background-color: rgba(245, 245, 220, 0.3);
} 

h2{
    font-size: medium;
}

.beer__tag{
    font-style: italic;
    text-decoration: none;
}

.beer__image{
        max-width: 100%;
        height: 70%;
        opacity: 0.6;
    }

.beer__info{
        display: flex;
        justify-content: space-around;
        opacity: 1;
    }

.beer-card:hover {
    background-color: rgba(204, 109, 223, 0.6);
    border: solid .3rem green;

}


.beer__image:hover{
    opacity: 1;
    cursor: pointer;
}


