.filters {
    display: flex;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: larger;
}

.option {
    
    &:hover {
        text-decoration: dotted white;
        text-decoration-line: underline;
    }
}